<?xml version="1.0" encoding="utf-8"?>

<odoo>

    <!-- Menu gốc -->
    <menuitem
        id="menu_spa_root"
        name="Spa Management"
        sequence="10"
    />

    <!-- Menu khách hàng -->
    <menuitem
        id="menu_spa_customer"
        name="Khách hàng"
        parent="menu_spa_root"
        action="action_spa_customer"
        sequence="10"
    />

    <menuitem
        id="menu_spa_customer_search"
        name="Tra cứu khách hàng"
        parent="menu_spa_root"
        action="action_spa_customer_search_wizard"
        sequence="20"
    />

</odoo>